.pc-wrap {
    background-image: url("/public/img/barner/barner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pc-wrap .container {
    width: 1300px;
    height: 100vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* Join */
.pc-wrap .container .signup {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    width: 50%;
    height:auto;
    box-sizing: border-box;
}

.pc-wrap .container .signup .title {
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin: 0px 0 30px 0;
}

.pc-wrap .container .signup .inputs>div:nth-child(1) {
    flex-direction: row;
    gap: 30px;
}

.pc-wrap .container .signup .inputs>div:nth-child(2) {
    flex-direction: row;
    gap: 30px
}

.pc-wrap .container .signup .photo {
    margin-top: 20px;
    flex-direction: row;
    gap: 40px;
}

.pc-wrap .container .signup .photo .img {
    height: 300px;
    width: 350px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 5px black;
}
.pc-wrap .container .signup .photo .photo-info{
    margin-top: 20px;
}

.pc-wrap .container .signup .photo .photo-info div:nth-child(1) {
    color: #4a2cdc;
    margin-bottom: 40px;
}

.pc-wrap .container .signup .photo .photo-info div:nth-child(3) {
    width: 250px;
    margin-top: 30px;
    color: #654be4;
}

.pc-wrap .container .auth {
    width: 40%;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px black;
}

.pc-wrap .container .auth .title {
    text-align: center;
    margin: 20px 0;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.pc-wrap .container .auth .inputs .pass-info {
    font-size: 12px;
    color: red;
    margin: 5px;
}

.pc-wrap .container .auth button {
    background-color: antiquewhite;
    margin-top: 10px;
    font-weight: 700;
    padding: 15px 0;
    color: rgb(68, 67, 67);
}




/* Chat Menu */

.pc-wrap .container .chat-interface {
    flex-direction: row;
    height: 700px;
    width: 80%;
    border-radius: 20px;
    overflow: hidden;
}

.pc-wrap .container .chat-interface .menu-bar {
    width: 25%;
    background-color: aliceblue;
}

.pc-wrap .container .chat-interface .menu-bar .members {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.pc-wrap .container .chat-interface .menu-bar .room-info {
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding: 11px 20px;
    border-bottom: 1px solid gray;
}

.pc-wrap .container .chat-interface .menu-bar .members .member {
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    font-size: 20px;
    border-bottom: 1px solid gray;
    padding: 10px;
}

.pc-wrap .container .chat-interface .chat-menu {
    flex: 1
}

.pc-wrap .container .chat-interface .chat-menu .client {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.pc-wrap .container .chat-menu .client .client-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    background-color: white;
    z-index: 1;
}

.pc-wrap .container .chat-menu .client .client-info {
    position: relative;
    font-weight: 700;
    z-index: 2;
    color: black;
}

.pc-wrap .container .chat-menu .client .client-sign {
    position: relative;
    z-index: 2;
    color: black;
}

.pc-wrap .container .chat-menu .msg-interface {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #c4a77f;
    overflow-y: scroll;
}

.pc-wrap .container .chat-menu .msg-interface .sender {
    justify-content: end;
    flex-direction: row;
    gap: 20px;
    margin: 10px 7px;
    align-items: end;
}

.pc-wrap .container .chat-menu .msg-interface .sender .sender-msg {
    background-color: rgb(232, 241, 249);
    padding: 10px 15px;
    border-radius: 20px 20px 0 20px;
}

.pc-wrap .container .chat-menu .msg-interface .sender .sender-msg div:nth-child(1) {
    word-wrap: break-word;
    max-width: 300px;
}

.pc-wrap .container .chat-menu .msg-interface .time {
    color: rgb(88, 88, 88);
    font-weight: 600;
    font-size: 15px;
    text-align: end;
}

.pc-wrap .container .chat-menu .msg-interface .info {
    margin: 5px auto;
    background-color: #b9b9b9;
    padding: 2px 15px;
    border-radius: 3px;
    color: #494848;
}

.pc-wrap .container .chat-menu .msg-interface .messager {
    flex-direction: row;
    justify-content: start;
    gap: 20px;
    margin: 10px 7px;
    align-items: end;
    max-width: 300px;
    word-wrap: break-word;
}

.pc-wrap .container .chat-menu .msg-interface .messager .messager-msg {
    background-color: rgb(199, 224, 246);
    padding: 10px 15px;
    border-radius: 20px 20px 20px 0px;
}